@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
  font-family: 'Lexend Deca', sans-serif;
}

@import "tailwindcss";

.container1{
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}